*{
    margin: 0px;
    padding: 0px;
}
ul{list-style: none;}
a{text-decoration: none}

#wapper{
    width: 1050px;
    height: 500px;
    margin: 50px auto;
    background-color: rgba(252, 198, 118, 0.877);
}
#header{
    margin-left: 27px ;
    width: 980px;
    height: 100px;
    border-bottom: 2px solid black; 
}
#header h2{
    padding-top: 10px;
}
#left{
    padding-top: 15px;
    float: left;
    
}
#right{
    float: right;
    margin-top: 10px;
    padding-top: 15px;

}
#right ul li{
    float: left;
    margin-right: 10px;
    padding-top: 5px ;
    padding-right: 10px;
    border-right: 2px solid black;
    font-size: 18px;
    font-weight: 600;
}
#menu{
    margin-top: 10px;
    padding: 10px 20px 0px 37px;
    float: left;
    border-right: 2px solid black;
}
#menu p{
   padding-bottom: 27px;
   color: #555;
   font-size: 13pt;
   font-weight: 600 ;
   text-align: left;
}
#main{
    margin: 10px 0px 0px 50px;
    width: 700px;
    float: left;
    font-size: 15pt;
    font-weight: bold;
    line-height: 40px;
    
}
#main h3{
    margin-bottom: 5px ;
}
#main p{
    background-color: rgb(107, 105, 105);
    width: 130px;
    height: 50px;
    line-height: 50px;
    color:white;
    text-align: center;
}
#main td{
    margin-bottom: 5px;
}
#footer{
    
    float: right;
    width: 1000px;
    height: 200px;
    border-top:2px solid black;
    margin-right: 30px;
    text-align: right;
    padding-top: 15px;
    font-weight: bold;
    
    
}
#footer a{
    color: red;
    font-weight: 600;
}
