*{
    margin: 0px;
    padding: 0px;
}
ul{list-style: none;}
a{   text-decoration: none;}

#wapper{
    width: 1050px;
    height: 510px;
    margin: 50px auto;
    background-color: rgba(252, 198, 118, 0.877);
}
#header{
    margin-left: 27px ;
    width: 980px;
    height: 100px;
    border-bottom: 2px solid black; 
}
#header h2{
    padding-top: 10px;
}
#left{
    padding-top: 15px;
    float: left;
    
}
#right{
    float: right;
    margin-top: 10px;
    padding-top: 15px;

}
#right ul li{
    float: left;
    margin-right: 10px;
    padding-top: 5px ;
    padding-right: 10px;
    border-right: 2px solid black;
    font-size: 18px;
    font-weight: 600;
}
#menu{
    margin-top: 10px;
    padding: 10px 20px 0px 37px;
    float: left;
    border-right: 2px solid black;
}
#menu p{
   padding-bottom: 22px;
   color: #555;
   font-size: 13pt;
   font-weight: 600 ;
   text-align: left;
}
#main h4{
    display: inline-block;
    margin: 10px 0px 0px 50px;
    font-style: italic;
    color: red;
    
}
#main p{
        display: inline-block;
        
        margin: 10px 0px 0px 50px;
        color: blue;
        font-size: 17px;

}
.a1{
    color: red;

}
#login{
    
    margin: 20px 0px 0px 50px;
    width: 500px;
    height: 220px;
    float: left;
    border: 2px solid black;
    background-color: rgb(231, 196, 150);
    color: rgb(0, 0, 255);
}
h3{
    display: inline-block;
    margin:5px 0px 10px 50px;
    
}
#login form{
    padding: 0px;
    box-sizing: border-box;
}
form .text {
    position: relative;
    margin: 20px;
    
}
.text input{
    width: 55%;
    padding: 3px;
    font-size: 15px;
    border-radius: 3px ;
    outline: none;
    border: 1px solid black;
}
.text label{
    position: absolute;
    top: -18px;
    left:5px;
    font-weight: bold;
}

.check{
    position: relative;
    padding-left: 17px;
    font-weight: bold;
    font-size: 15px;
    top:-15px;
    
}
input[type="submit"]{
    margin-left: 20px;
    width: 77px;
    height: 33px;
    color: red;
    background-color: aqua;
}
#footer{
    margin-top: 20px;
    float: right;
    width: 1000px;
    height: 100px;
    border-top:2px solid black;
    margin-right: 30px;
    text-align: right;
    padding-top: 15px;
    font-weight: bold;
    
}
#footer a{
    color: red;
    font-weight: 600;
}
